<br><br><br>
<div class="large-14 columns">
	<div style="text-align:center;">
		<h2>Sapatos Variados</h2>
		<h5>Aqui você encotra sapatos com décadas de sucesso no Kabaya. Feitos com solado de extrema qualidade e com bico mais largo, representam o que há de melhor em robustez e durabilidade. Para estes sapatos, não há terreno ruim.</h5>
		<br/>
	</div>
	
	<div class="large-3 small-6 columns" style="float:left;">
		<%= link_to image_tag('030_Preto_01_Thumb.jpg'), image_path('030_Preto_01.JPG'), :class => "slide-fotos", :title => "030 Preto", :rel => "um"%>
    	<div class="esconder">
    		<%= link_to image_tag('030_Preto_02_Thumb.jpg'), image_path('030_Preto_02.JPG'), :class => "slide-fotos", :title => "030 Preto", :rel => "um"%>
    		<%= link_to image_tag('002_Sola_Thumb.jpg'), image_path('002_Sola.JPG'), :class => "slide-fotos", :title => "Solado", :rel => "um"%>
    	</div>
		<h5>Ref. 030</h5>
		<h6 class="subheader">Preto</h6>
	</div>
</div>