<br><br><br>
<div class="row">
  <div class="large-12 columns">
    <h2><i class="fi-megaphone style3"></i> Fale com a gente!</h2>
      <h5>Gostaríamos muito de te ouvir. Você pode nos enviar um E-MAIL, TELEFONAR direto na fábrica ou mandar um WHATSAPP para um dos contatos abaixo informando o seu pedido que algum de nossos atendentes o responderá imediatamente.</h5><br>
      <h3><i class="fi-torso-business style1"></i> Contatos</h3>
      <div class="large-3 columns">
        <h6 align="center"><%= image_tag("whats.png", size: "35")%> (37) 9 9939-7619</h6>
      </div>
      <div class="large-3 columns">
        <h6 align="center"><%= image_tag("email.png", size: "35")%> ruikabaya@hotmail.com</h6>
      </div>
      <div class="large-3 columns">
        <h6 align="center"><%= image_tag("celular.png", size: "35")%> (34) 9 9197-6270</h6>
      </div>
      <div class="large-3 columns">
        <h6 align="center"><%= image_tag("telefone.png", size: "35")%> (37) 3226-3721</h6><br>
      </div>
      <h3><i class="fi-marker style2"></i> Endereço</h3>
        <h6>Rua Pará de Minas, 506 - Centro</h6>
        <h6>Nova Serrana - MG</h6>
        <h6>CEP: 35.519-000</h6>
  </div>
</div>