<br><br><br>
<div class="large-12 columns">
  <div id="foto" class="boxstyle" align="center">
    <p><%=image_tag("empresa.jpg", size: "1200")%></p>
    <h2 class="icone1 style6"><i class="fi-torsos-all style6"></i> A empresa</h2>
    <h5 class="icone2 style7">Desde meados de 1985, localizada na cidade de Nova Serrana,<br>interior de Minas Gerais, a Indústria e Comércio de Calçados Madri Ltda<br>vem produzindo sapatos e botas sociais em couro legítimo<br>de excelente qualidade com reconhecimento no Brasil todo.</h5>
    <h5 class="icone3 style7">Sempre nos preocupando com a saúde e conforto<br>de nossos clientes, utilizamos couro legítimo e materiais<br>de 1ª linha para a confecção de nossos produtos.</h5>
  </div>
  <br>
  <div class="large-4 columns" style="margin-left:300px;">
    <h3 class="style1"><i class="fi-graph-trend style1"></i> Produção</h3>
    <h5>Em nossa fábrica dispomos de várias máquinas de última geração, bem como funcionários qualificados e bem treinados para produzirmos um sapato de altíssima qualidade, além de sermos extremamente rigorosos quanto aos nossos fornecedores de matérias primas.</h5>
  </div>
  <div class="large-4 columns" style="float:left;">
    <%=image_tag("fabrica.jpg")%>
  </div>
</div>